section {
    background-color: #333333eb;
    height: 200px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;

    img{
        width: 200px;   
    }
    p{
        color: white;
    }
}