section{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 64px;

   max-width: 80%;
   margin: 0 auto;

   app-sub-header, app-description, app-filter {
      width: 100%;
   }
}